{% extends 'main/base.html' %}
{% load static %}

{% block title_content %}

About | {{ block.super }}

{% endblock %}

{% block h1_content %}

{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/style_webapp_about.css' %}">
<h5>v0.0.27 alpha</h5><br><br>
<h2>Привет! 🖐 Ты на сайте приложения HsoloApp. 😉 </h2>

<div class="about__content">
    Этот сайт, представляет собой пользовательский интерфейс "обёртку" для проекта HsoloApp, включающего в себя несколько разнообразных приложений, доступных после прохождения простейшей регистрации, в процессе которой, кстати, в отличие от других ресурсов, ты можешь использовать не только буквы латинского алфавита, но и КИРИЛЛИЦУ и даже ЭМОДЖИ! 😮😲😵 даже в символах пароля! И да, ввод email вовсе необязателен, по желанию 😏
    <br><br>Проект является полностью опенсорсным и к разработке может присоединиться любой желающий, для этого оставь запись в приложении notebook с тегом "#opensource", и я свяжусь с тобой, скину ссылку на github ну и всё такое прочее 🤘
    <br><br> Зарегайся, и узнаешь фокт о себе 😉
    <br> Да пребудет с тобой сила 😊 и не болей 😷<br><br>
        <a class="nav-link navbar__link btn btn-dark" href="{% url 'app_start' %}">Ок, понял</a>

{% endblock %}