{% load static %}
<!DOCTYPE html>
<html lang="ru">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style_webapp_base.css' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.ico' %}">
    <title>

        {% block title_content %}
        HsoloApp
        {% endblock %}

    </title>
</head>


<body style="font-family: Arial, 'Helvetica Neue', sans-serif;">

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <input style="display: none" type="checkbox" id="checkbox" class="navbar__checkbox">
        <label for="checkbox" class="navbar__btn">
            <div class="navbar__icon"></div>
        </label>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">

            <ul class="navbar-nav">
                {% if user.is_authenticated %}
                <li class="nav-item active navbar__item">
                    <a class="nav-link navbar__link btn btn-dark" href="{% url 'app_start' %}">Главная</a>
                </li>
                <li class="nav-item active navbar__item">
                    <a class="nav-link navbar__link btn btn-dark" href="{% url 'nb_lines_url' %}">Notebook</a>
                </li>
                <li class="nav-item active navbar__item">
                    <a class="nav-link navbar__link btn btn-dark" href="{% url 'pr_result_vacancies_url' %}">Parserapp</a>
                </li>


                {% if request.user.is_authenticated and request.user.is_staff %}
                <li class="nav-item active navbar__item">
                    <a class="nav-link navbar__link btn btn-dark" href="/admin">Adminka</a>
                </li>
                <li class="nav-item active navbar__item">
                    <a class="nav-link navbar__link btn btn-dark" href="#">Сейф</a>
                </li>
                {% endif %}

                <!--
                <li class="nav-item active navbar__item"><a class="nav-link navbar__link btn btn-dark"
                    href="{% url 'account_email' %}">Сменить мыло</a></li> -->

                <!-- <li class="nav-item active navbar__item"><a class="nav-link navbar__link btn btn-dark"
                    href="{% url 'wa_about' %}">Информация</a>
                </li> -->
                <li class="nav-item active navbar__item">
                    <a class="nav-link navbar__link btn btn-dark" href="{% url 'account_logout' %}">Выйти</a>
                </li>
                {% else %}
                <li class="nav-item active navbar__item"><a class="nav-link navbar__link btn btn-dark"
                        href="{% url 'account_login' %}">Вход</a>
                </li>
                <li class="nav-item active navbar__item"><a class="nav-link navbar__link btn btn-dark"
                        href="{% url 'account_signup' %}">Регистрация</a>
                </li>
                <!-- <li class="nav-item active navbar__item"><a class="nav-link navbar__link btn btn-dark"
                    href="{% url 'wa_about' %}">Информация</a>
                </li> -->
                {% endif %}

            </ul>
        </div>
    </nav>


    {% block h1_content %}

    {% endblock %}

    {% block content %}

    {% endblock %}

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

</body>

</html>