/*decktop*/

h3 {
    font-size: 1.2rem;
}

.btn {
    margin: 1%;
}

.col-12 {
    margin: 17% auto;
    max-width: 100%;
}

@media screen and (min-width: 996px) {
    /*mobile*/

    h3 {
        font-size: 1.2rem;
    }

    .btn {
        margin: 1%;
    }

    .col-12 {
        margin: 2% auto;
        max-width: 40%;
    }

}