body {
    text-align: center;
}

h2 {
    text-align: center;
    display: inline-block;
    padding: 2%;
    padding-top: 5%;
    text-shadow: 0px 0px 10px rgb(41, 185, 5);
    text-align: center;
}

.about__content {
    margin: 2%;
    margin-top: 4%;
    text-shadow: 0px 0px 10px rgb(6, 88, 10);
    text-align: center;
}

h5 {
    text-shadow: 0px 0px 10px rgb(167, 23, 54);
}

@media screen and (max-width: 995px) {
    h5 {
        margin: 2%;
        padding-top: 30%;
    }
}