/*mobile*/
.tags__content-links {
    margin-bottom: 1%;
    display: inline-block;
    font-size: 1.5rem;
}

.tags__content-links a {
    text-decoration: none;
    text-transform: lowercase;
    color: rgb(211, 211, 211);
}

.tags__content-links a:hover {
    text-shadow: 1px 1px 2px black, 0 0 1em rgb(18, 83, 43)
}

.col-12 {
    margin: 20% auto;
    max-width: 100%;
}

@media screen and (min-width: 996px) {
    /*desktop*/
    .pagination {
        margin-top: 4%
    }

    .tags__content-links {
        display: inline-block;
        font-size: 1.5rem;
    }

    .tags__content-links a {
        text-decoration: none;
        text-transform: lowercase;
        color: rgb(211, 211, 211);
    }
    .col-12 {
        margin: 2% auto;
        max-width: 40%;
    }
}