{% extends 'notebook/notebook_base.html' %}
{% load static %}

{% block title_content %}

Создать запись | {{ block.super }}

{% endblock %}

{% block h1_content %}

{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/style_notebook_create.css' %}">


<div class="createline__container">
    <div class="col-sm-4">

        <h2>Создание записи</h2>

        <form action="{% url 'nb_line_create_url' %}" enctype="multipart/form-data" method="POST">
            {% csrf_token %}

            {% for f in form %}
                    {% if f.errors %}
                        <div class="alert alert-danger" role="alert">{{ f.errors }}</div>
                    {% endif %}
                {{ f.label }}
                {{ f }}
            {% endfor %}
            <button class="btn btn-dark btn-sm" type="submit">Добавить</button>
            <a class="btn btn-dark btn-sm" href="{% url 'nb_tag_create_url' %}" role="button">Создать новый тег</a>
            <a class="btn btn-dark btn-sm" href="{% url 'nb_lines_url' %}" role="button">Назад</a>

        </form>
    </div>
</div>

{% endblock %}