{% extends 'notebook/notebook_base.html' %}
{% load static %}

{% block title_content %}

Create tag | {{ block.super }}

{% endblock %}

{% block h1_content %}
<link rel="stylesheet" href="{% static 'css/style_notebook_create.css' %}">

<div class="container">
    <div class="row">
        <div class="col-12">

            <h2 style="font-size: 1rem;">Укажи ключевое слово/фразу,<br> по которым сможешь группировать записи
                {{ emj }}</h2>

            {% endblock %}

            {% block content %}

            <form action="{% url 'nb_tag_create_url' %}" method="POST">
                {% csrf_token %}

                {% for f in form %}
                {% if f.errors %}
                <div class="alert alert-danger" role="alert">{{ f.errors }}</div>
                {% endif %}
                {{ f.label }}
                {{ f}}
                {% endfor %}

                <button class="btn btn-dark btn-sm" type="submit">Добавить</button>
                <a class="btn btn-dark btn-sm" href="{% url 'nb_tags_url' %}" role="button">Назад</a>
            </form>
        </div>
    </div>
</div>

{% endblock %}