{% extends 'notebook/notebook_base.html' %}
{% load static %}

{% block title_content %}

Все записи | {{ block.super }}

{% endblock %}

{% block h1_content %}

{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/style_notebook_lines.css' %}">

<div class="container cards_wrapper">

    {% for line in page_object.object_list %}
    <a href="{{ line.get_absolute_url }}">
        <div class="card text-center text-white bg-dark m-2" style="width: 20rem;">
            <div class="img_wrapper">
                <img class="card-img-top img-fluid" src="{{ line.img.url }}" alt="{{ line.img.url }}">
            </div>
            <div class="card-body">
                <p class="card-text"><a href="{{ line.get_absolute_url }}">{{line.head|truncatechars:30}}</a></p>
                <hr>
                {% if line.tags.all %}
                {% for tag in line.tags.all %}
                <p class="card-tag"><a href="{{ tag.get_absolute_url }}" class="badge badge-success"
                        style="font-weight: lighter"># {{tag.title}}</a></p>
                {% endfor %}
                {% else %}
                <p class="card-tag"><a href="{% url 'nb_line_edit_url' slug=line.slug %}" class="badge badge-info"
                        style="font-weight: lighter">Добавить тег</a></p>
                {% endif %}
            </div>
        </div>
    </a>
    {% endfor %}
</div>

{% if is_paginated %}
<ul class="pagination">
    <li class="page-item {% if not prev_url %} disabled {% endif %}">
        <a class="page-link bg-dark text-white border border-dark" href="{{ prev_url }}" tabindex="-1">&laquo;</a>
    </li>
    {% for page_num in page_object.paginator.page_range %}
    {% if page_object.number == page_num %}
    <li class="page-item active" aria-current="page">
        <a class="page-link bg-dark text-white border border-dark" href="?page={{ page_num }}">{{ page_num }} <span
                class="sr-only">(current)</span></a>
    </li>
    {% elif page_num > page_object.number|add:-3 and page_num < page_object.number|add:3 %}
    <li class="page-item" aria-current="page">
        <a class="page-link bg-dark text-white border border-dark" href="?page={{ page_num }}">{{ page_num }} <span
                class="sr-only">(current)</span></a>
    </li>
    {% endif %}
    {% endfor %}
    <li class="page-item {% if not next_url %} disabled {% endif %}">
        <a class="page-link bg-dark text-white border border-dark" href="{{ next_url }}">&raquo;</a>
    </li>
</ul>
{% endif %}

{% endblock %}